@import "./imports";
html,
body {
	margin: 0;
	padding: 0;
}
div {
	height: 1000px;
	background-color: $BackgroundColour;
	&:hover {
		background-color: $onHover;
	}
	@media (max-width: 600px) {
		max-width: $whenShort;
	}
}